h1{
    color: blueviolet;
}

.images-kora{
    height: 350px;
}

.img-main{
    height: 450px;
}

.card{
    height: 550px;
}

p {
    font-size: 20px; 
}

.list-group{
    font-size: 20px;
}